@import "../../global/reset.css";
@import "../../global/global.css";

/* Main Header */

.MainHeader__Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: right;
  padding: 10px 0;
}

.UnAuthNav__Container {
  margin-right: 16px;
}

.UnAuthNav__Login,
.UnAuthNav__SignUp {
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  font-size: var(--font-small);
  margin: 0 10px;
  transition: all var(--animation-duration-short) ease-in;
}

.UnAuthNav__Login > i,
.UnAuthNav__SignUp > i {
  margin-right: 5px;
}

/* Nav bar */

.NavBar__NavWrapper {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

.NavBar__Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 14px;
  justify-content: space-between;
  border-top: 1px solid var(--color-light-orange);
}

.List__Container {
  margin: 0 10px;
  cursor: pointer;
}

.List__Content > a {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  margin: 0 20px;
  transition: all var(--animation-duration-short) ease-in;
}

.List__Content:hover .korean__desc {
  color: var(--color-light-grey);
}

/* Carousel */

.Carousel__CarouselContainer {
  width: 100%;
  height: 450px;
  background-color: var(--color-banner);
  margin: 50px 0;
}

.Carousel__BannerSection {
  width: 1200px;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px 0;
}

.Carousel__PopularViewTitle {
  margin-left: 18px;
  margin-bottom: 30px;
  font-weight: var(--weight-bold);
  font-size: var(--font-semi-large);
}

.Carousel__PopularViewList {
  width: 100%;
  justify-content: space-around;
  height: 300px;
}

.Carousel__PopularView {
  background-color: var(--color-white);
  width: 30%;
  height: 100%;
  border-radius: var(--size-border-radius);
}

.PopularView__Container {
  height: 100%;
}

.PopularVew__Image {
  width: 80%;
  border-radius: var(--size-border-radius);
}

.PopularView__Desc {
  width: 80%;
  align-items: flex-start;
  margin-top: 20px;
}

.PopularView__Title {
  font-weight: var(--weight-bold);
  margin: 10px 0;
}

.PopularView__InnerDesc {
  width: 100%;
  justify-content: space-between;
  color: var(--color-dark-grey);
}

/* MainPage */

.MainPage__PageContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.MainPage__AsideContainer {
  width: 100%;
  justify-content: flex-end;
}

.MainPage__Search {
  width: 50%;
  padding: 8px 12px;
  justify-content: space-between;
  background-color: var(--color-smooth-grey);
  border-radius: var(--size-border-radius);
}

.MainPage__Filter {
  margin-right: 5px;
  color: var(--color-grey);
}

.SearchBar__Input {
  border: 1px solid var(--color-light-border);
  border-radius: var(--size-border-radius);
  font-size: var(--font-small);
  padding: 8px 12px;
}

.SearchBar__SearchButton {
  background-color: transparent;
  font-size: var(--font-regular);
  color: var(--color-grey);
}

/* Sales List */

.SalesList__HeaderContainer {
  justify-content: space-between;
}

.SalesList__TitleContainer {
  align-items: baseline;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 10px;
}

.SalesList__Title {
  margin: 20px 0;
  margin-right: 10px;
  font-size: var(--font-semi-large);
  font-weight: var(--weight-bold);
}

.SalesList__CurLocation {
  color: var(--color-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

#upload-product {
  background-color: var(--color-light-orange);
  padding: 8px 25px;
  border-radius: var(--size-border-radius);
  font-size: var(--font-small);
  color: var(--color-white);
  opacity: 0.9;
  letter-spacing: 0.5px;
}

.SalesList__Cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.SalesList__Cards > li {
  width: 24%;
}

.Product__Info {
  overflow: hidden;
  margin: 0 auto;
  border-radius: var(--size-border-radius);
}

.Product__Image {
  width: 100%;
  height: 200px;
  border-radius: var(--size-border-radius);
}

.Product__Desc {
  margin: 24px 5px;
}

.Product__Title {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-bottom: 10px;
}

.Product__InnerDesc {
  justify-content: space-between;
  color: var(--color-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  padding-right: 5px;
}

.SalesList__Pagination {
  margin: 40px auto;
  width: 400px;
  justify-content: space-around;
}

.Page__Link {
  padding: 12px;
  font-size: var(--font-regular);
}
