@import "reset.module.css";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-beige: #f3f0e9;
  --color-light-orange: #feb546;
  --color-orange: #e44d27;
  --color-light-grey: #bdbdbd;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-slate-grey: #1b242f;
  --color-blue-black: #141c3a;
  --color-black: #202020;

  /* Font size */
  --font-large: 32px;
  --font-semi-large: 28px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 200;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 250ms;
  --animation-duration-short: 150ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  cursor: default;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-slate-grey);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
}

strong {
  font-weight: var(--weight-bold);
}

.active {
  display: flex;
}

/* flex */

.rowFlex,
.columnFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnFlex {
  flex-direction: column;
}

/* korean */
.korean__heading {
  font-family: "Noto Sans KR", sans-serif;
}

.korean__desc {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 100px;
  line-height: 3vh;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0px;
}

/* Header */
.MainHeader__Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 14px 0px;
}

.MainHeader__LogoWrapper {
  justify-content: space-between;
}

.Logo__Container {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  letter-spacing: 1px;
}

.UnAuthNav__Login {
  font-size: var(--font-small);
}

/* Main */
.RegisterPage__Container {
  padding: 64px 0px 128px;
}
