@import "../global/reset.css";
@import "../global/global.css";

/* Main Header */

.MainHeader__Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: right;
  padding: 10px 0;
  box-shadow: 0px 2px 2px -2px var(--color-orange);
}

.UnAuthNav__Container {
  margin-right: 16px;
}

.UnAuthNav__Login,
.UnAuthNav__SignUp {
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  font-size: var(--font-small);
  margin: 0 10px;
  transition: all var(--animation-duration-short) ease-in;
}

.UnAuthNav__Login > i,
.UnAuthNav__SignUp > i {
  margin-right: 5px;
}

/* Nav bar */
.NavBar__Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 14px;
  justify-content: space-between;
}

.List__Container {
  margin: 0 10px;
  cursor: pointer;
}

.List__Content > a {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  margin: 0 20px;
  transition: all var(--animation-duration-short) ease-in;
}

.List__Content:hover .korean__desc {
  color: var(--color-light-grey);
}

/* Main page */

.MainPage__PageWrapper {
  position: relative;
}

.MainPage__BackGround {
  height: 80vh;
  width: 100%;
}

.MainPage__PageContainer {
  position: absolute;
  justify-content: space-between;
  width: 1200px;
}

.MainPage__LeftAside {
  align-items: flex-start;
}

.MainPage__CopyCotainer {
  margin-bottom: 100px;
  padding: 12px;
}

.MainPage__CopyCotainer > h1 {
  font-size: 50px;
  color: var(--color-orange);
}

.MainPage__CopyCotainer > h2 {
  font-size: var(--font-semi-large);
  font-weight: var(--weight-regular);
  padding-left: 4px;
}

.MainPage__CopyCotainer > h3 {
  font-size: var(--font-semi-large);
  color: var(--color-light-orange);
  padding-left: 4px;
}

.MainPage__NavButton {
  background-color: transparent;
  border: 1px solid var(--color-white);
  font-size: var(--font-semi-large);
  padding: 18px;
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in;
}

.MainPage__NavButton > a {
  color: var(--color-white);
}

.MainPage__NavButton:hover {
  transform: scale(1.05);
}

.MainPage__FeatureContainer > img {
  width: 250px;
  height: 400px;
}
